@use "./assets/styles/_vars" as *;
@use "sass:string";
@use "sass:math";

@mixin mobile {
  @media (min-width: #{$mobile}) {
    @content;
  }
}

@mixin phablet {
  @media (min-width: #{$phablet}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet}) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: #{$laptop}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

@mixin ultrawide {
  @media (min-width: #{$ultrawide}) {
    @content;
  }
}

@function px-from-percent($percentage, $width: 100) {
  @return ($percentage * 0.01) * $width;
}

@function strip-units($number) {
  @return math.div($number, $number * 0 + 1);
}

@function calc-vw($pixel, $container-size: 100) {
  @return math.div(strip-units($pixel), strip-units($container-size)) * 100 +
    0vw;
}

@function calc-leading($leading-in-pixels, $type-size) {
  @return math.div(strip-units($leading-in-pixels), strip-units($type-size));
}

@mixin fluidScale(
  $sizeInPixels,
  $baselineInPixels,
  $breakpointInPixels: $desktop
) {
  font-size: $sizeInPixels;
  line-height: $baselineInPixels;

  @media (min-width: $breakpointInPixels) {
    font-size: calc-vw($sizeInPixels, $breakpointInPixels);
    line-height: calc-leading($baselineInPixels, $sizeInPixels);
  }
}

@mixin sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
}
