@import "../styles/vars.scss";
@import "../styles/mixins.scss";

:root {
  /* Breakpoints */
  --mobile: #{$mobile};
  --phablet: #{$phablet};
  --tablet: #{$tablet};
  --laptop: #{$laptop};
  --desktop: #{$desktop};
  --ultrawide: #{$ultrawide};

  /* Units */
  --tiniest: 4px;
  --tinier: 8px;
  --tiny: 12px;
  --smallest: 16px;
  --smaller: 24px;
  --small: 32px;
  --big: 48px;
  --bigger: 64px;
  --biggest: 96px;
  --huge: 128px;
  --huger: 160px;
  --hugest: 200px;

  @include ultrawide {
    --tiniest: #{calc-vw(4px, $ultrawide)};
    --tinier: #{calc-vw(8px, $ultrawide)};
    --tiny: #{calc-vw(12px, $ultrawide)};
    --smallest: #{calc-vw(16px, $ultrawide)};
    --smaller: #{calc-vw(24px, $ultrawide)};
    --small: #{calc-vw(32px, $ultrawide)};
    --big: #{calc-vw(48px, $ultrawide)};
    --bigger: #{calc-vw(64px, $ultrawide)};
    --biggest: #{calc-vw(96px, $ultrawide)};
    --huge: #{calc-vw(128px, $ultrawide)};
    --huger: #{calc-vw(160px, $ultrawide)};
    --hugest: #{calc-vw(200px, $ultrawide)};
  }

  /* Grid */
  --grid-mobile-columns: 12;
  --grid-mobile-margin: var(--smallest);
  --grid-mobile-gutter: var(--tinier);

  --grid-phablet-columns: 12;
  --grid-phablet-margins: var(--smallest);
  --grid-phablet-gutter: var(--tinier);

  --grid-tablet-columns: 12;
  --grid-tablet-margin: var(--small);
  --grid-tablet-gutter: var(--tinier);

  --grid-laptop-columns: 12;
  --grid-laptop-margin: var(--big);
  --grid-laptop-gutter: var(--tinier);

  --grid-desktop-columns: 12;
  --grid-desktop-margin: var(--bigger);
  --grid-desktop-gutter: var(--tinier);

  --grid-ultrawide-columns: 12;
  --grid-ultrawide-margin: var(--bigger);
  --grid-ultrawide-gutter: var(--tinier);

  /* Colors */
  --white: #ffffff;
  --black: #000000;

  --red-50: #fcf1f1;
  --red-150: #f3baba;
  --red-300: #fc7474;
  --red-500: #ec1316;
  --red-700: #a6090d;
  --red-900: #5d1312;
  --red-950: #230303;

  --orange-50: #fcf1ef;
  --orange-150: #f1bcb0;
  --orange-300: #ff762f;
  --orange-500: #c65400;
  --orange-700: #7e412a;
  --orange-900: #4b2415;
  --orange-950: #1b0904;

  --yellow-50: #f9f3ea;
  --yellow-150: #f8c03f;
  --yellow-300: #b69b6f;
  --yellow-500: #897452;
  --yellow-700: #5e4f37;
  --yellow-900: #5e4f37;
  --yellow-950: #120d07;

  --green-50: #e8f8e9;
  --green-150: #a9d3aa;
  --green-300: #45b44d;
  --green-500: #39873d;
  --green-700: #245d28;
  --green-900: #1b351b;
  --green-950: #041106;

  --blue-50: #e1f8fe;
  --blue-150: #30dbf5;
  --blue-300: #26adc3;
  --blue-500: #198393;
  --blue-700: #0f5a66;
  --blue-900: #06343c;
  --blue-950: #011114;

  --indigo-50: #f3f3fd;
  --indigo-150: #c3c4f4;
  --indigo-300: #9597ec;
  --indigo-500: #5c63ff;
  --indigo-700: #0027fa;
  --indigo-900: #00149a;
  --indigo-950: #060832;

  --violet-50: #f4f2fa;
  --violet-150: #d2c1ea;
  --violet-300: #b78be7;
  --violet-500: #a93cf7;
  --violet-700: #7031a2;
  --violet-900: #3e2257;
  --violet-950: #150821;

  --gray-50: #f4f3f3;
  --gray-150: #cac8c8;
  --gray-300: #a29e9d;
  --gray-500: #787676;
  --gray-700: #535151;
  --gray-900: #302f2e;
  --gray-950: #0f0e0e;

  /* backgrounds */
  --background-primary: var(--white);
  --background-secondary: var(--gray-50);
  --background-tertiary: var(--gray-150);

  /* foreground */
  --foreground-primary: var(--gray-950);
  --foreground-secondary: var(--gray-500);
  --foreground-tertiary: var(--gray-150);

  /* accent */
  --accent-primary: var(--gray-950);
  --accent-primary-text: var(--indigo-50);
  --accent-secondary: var(--gray-900);
  --accent-error: var(--red-500);
  --accent-valid: var(--green-500);

  --transition-function: ease-out;
  --transition-time: 400ms;
  --transition: var(--transition-time) var(--transition-function);
  --transition-fast-time: 300ms;
  --transition-fast: var(--transition-fast-time) var(--transition-function);
  --transition-page-delay: 300ms;

  --grid-margin: #{$grid-margin};
  --grid-gap: #{$grid-gap};

  --border-radius: var(--tiniest);

  --text-indent: var(--bigger);
  @include tablet {
    --text-indent: var(--biggest);
  }
}
