/* dark themes same electricity. we assume that by default. */
:root {
  /*
  --color-base-00: #000000;
  --color-base-05: #101010;
  --color-base-10: #202120;
  --color-base-20: #000000;
  --color-base-25: #313232;
  --color-base-30: #313232;
  --color-base-35: #313232;
  --color-base-40: #313232;
  --color-base-50: #757676;
  --color-base-60: #8f9190;
  --color-base-70: #8f9190;
  --color-base-100: #c8cccb;
  --color-red: #e63b47;
  --color-orange: #e67344;
  --color-yellow: #f5c56f;
  --color-green: #53c386;
  --color-cyan: #98d4f2;
  --color-blue: #4474d9;
  --color-purple: #7e64da;
  --color-pink: #ec92c5;
  */

  --color-background: #0e0e0c;
  --color-background-light: #75716d;
  --color-foreground: #f6f5f5;
  --color-interactive: #fc3c00;

  --unit-baseline: 8px;
  --unit-smallest: calc(var(--unit-baseline) * 0.25);
  --unit-smaller: calc(var(--unit-baseline) * 0.5);
  --unit-small: var(--unit-baseline);
  --unit-big: calc(var(--unit-baseline) * 2);
  --unit-bigger: calc(var(--unit-baseline) * 3);
  --unit-bigger: calc(var(--unit-baseline) * 4);
  --unit-huge: calc(var(--unit-baseline) * 6);
  --unit-huger: calc(var(--unit-baseline) * 12);
  --unit-hugest: calc(var(--unit-baseline) * 24);

  --white: #ffffff;
  --black: #000000;
  --red-50: #FCF1F1;
  --red-150: #F3BABA;
  --red-300: #FC7474; 
  --red-500: #EC1316;
  --red-700: #A6090D;
  --red-900: #5D1312;
  --red-950: #230303;
  --orange-50: #FCF1EF;
  --orange-150: #F1BCB0;
  --orange-300: #FF762F; 
  --orange-500: #C65400;
  --orange-700: #7E412A;
  --orange-900: #4B2415;
  --orange-950: #1B0904;
  --yellow-50: #F9F3EA;
  --yellow-150: #F8C03F;
  --yellow-300: #B69B6F; 
  --yellow-500: #897452;
  --yellow-700: #5E4F37;
  --yellow-900: #5E4F37;
  --yellow-950: #120D07;
  --green-50: #E8F8E9;
  --green-150: #A9D3AA;
  --green-300: #45B44D; 
  --green-500: #39873D;
  --green-700: #245D28;
  --green-900: #1B351B;
  --green-950: #041106;
  --blue-50: #E1F8FE;
  --blue-150: #30DBF5;
  --blue-300: #26ADC3; 
  --blue-500: #198393;
  --blue-700: #0F5A66;
  --blue-900: #06343C;
  --blue-950: #011114;
  --indigo-50: #F3F3FD;
  --indigo-150: #C3C4F4;
  --indigo-300: #9597EC; 
  --indigo-500: #5C63FF;
  --indigo-700: #0027FA;
  --indigo-900: #00149A;
  --indigo-950: #060832;
  --violet-50: #F4F2FA;
  --violet-150: #D2C1EA;
  --violet-300: #B78BE7; 
  --violet-500: #A93CF7;
  --violet-700: #7031A2;
  --violet-900: #3E2257;
  --violet-950: #150821;
  --gray-50: #F4F3F3;
  --gray-150: #CAC8C8;
  --gray-300: #A29E9D; 
  --gray-500: #787676;
  --gray-700: #535151;
  --gray-900: #302F2E;
  --gray-950: #0F0E0E;

}

/* Override variables for dark theme */
@media (prefers-color-scheme: light) {
  :root {
    --color-background: #f6f5f5;
    --color-background-light: #8b8681;
    --color-foreground: #0e0e0c;
    --color-interactive: #fc3c00;
  }
}
