@import "~/assets/styles/mixins";

.text-micro {
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  word-spacing: 0.01em;
  max-width: 50ch;
  @include fluidScale(10px, 12px, $ultrawide);
}

.text-caption-2 {
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.01em;
  max-width: 75ch;

  // @include fluidScale(13px, 16px, $ultrawide);
  @include fluidScale(13px, 16px, $ultrawide);
}

.text-caption-1 {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.01em;
  max-width: 80ch;

  @include fluidScale(16px, 20px, $ultrawide);
}

.text-body-2 {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.02em;
  max-width: 80ch;

  @include fluidScale(20px, 24px, $ultrawide);
}

.text-body-1 {
  font-size: 30px;
  line-height: 32px;
  letter-spacing: -0.04em;
  max-width: 80ch;

  @include fluidScale(30px, 32px, $ultrawide);
}

.text-headline-3 {
  font-size: 36px;
  line-height: 40px;
  letter-spacing: -0.025em;
  max-width: 80ch;

  @include fluidScale(36px, 40px, $ultrawide);
}

.text-headline-2 {
  font-size: 54px;
  line-height: 56px;
  letter-spacing: -0.025em;
  @include fluidScale(54px, 56px, $ultrawide);
}

.text-headline-1 {
  font-size: 76px;
  line-height: 80px;
  letter-spacing: -0.04em;
  @include fluidScale(76px, 80px, $ultrawide);
}

@font-face {
  src: url("~/assets/fonts/DBC-MetaphorGX.ttf");
  font-family: "DBC Metaphor";
}
